# Virtual environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints
.ipynb_checkpoints/

# System / OS files
.DS_Store
Thumbs.db

# Offline Models
vosk-model-en-us-0.22/
api_key.txt
